body{
		background-color: LightGray;}
		
p{		
		margin-left: 36px;
		color: #333; 
		font-family: ProximaNovaCond,Arial,sans-serif; 
		font-size: 22 px;
		font-weight: 700;
		line-height: normal;
		letter-spacing:2px;}
		
h2{		
		margin-left: 18px;
		color: #333; 
		font-family: ProximaNovaCond,Arial,sans-serif; 
		font-size: 18 px;
		font-weight: 700;
		line-height: normal; }

table{	
		margin-left: 36px;
		border-width: 0;}
		
td{		
		padding: 3;
		border-style: solid;
		border-width: 3px;
		border-color: DarkGrey;
		border-radius: 10px; 
		text-align: center;}

img{
		margin-left: 36px;}
